*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MENU*/
.navbar-expand-lg{
    padding: .5rem 2rem !important;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

/*Formulário de login*/
#login{
    background-color: #F5F5F5;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    max-width: 750px;
    border-radius: 10px;
}

.img-container{
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 30px;
}

.produto-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 15px;
    padding: 5px;
}

.col-6 select{
    padding: 5px 10px;
    border-radius: 15px;
}

.container-descricao button{
    padding: 5px 10px;
    border-radius: 15px;
}


#container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.qtd-produto, .botao-alterar, .excluir-produto{
    max-width: 20%;
    margin: 0 auto;
}

.container-pagamento{
    row-gap: 20px;
}

.container-descricao button, .container-descricao p{
    margin-top: 10px;
}